@keyframes blink {
    0% {
      background-color: black;
    }
    50% {
      background-color: white;
    }
    100% {
      background-color: black;
    }
  }
  
  .blink {
    animation: blink 2s linear infinite;
  }